<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GTPRecrutement</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">

</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img src="assets/img/logo.png" alt="logo" width="500" height="500"/>
      </a>

        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/img/logo.png" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search Projects.." aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">
                  <i class="icon-head"></i> Profile
              </a>
              <a class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>

        </ul>

      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="assets/img/face1.jpg">
          </div>
          <div class="user-name">
              Moussa Diouf
          </div>
          <div class="user-designation">
              Developer
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html" [routerLink]="['/client']">
              <!-- <i class="icon-box menu-icon"></i> -->
              <span class="menu-title">Acceuil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" [routerLink]="['/ConsulteMission']" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <!-- <i class="icon-disc menu-icon"></i> -->
              <span class="menu-title">Consulter les Missions</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/consultant']">
              <!-- <i class="icon-file menu-icon"></i> -->
              <span class="menu-title">Suivi des Missions </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/icons/feather-icons.html">
              <!-- <i class="icon-help menu-icon"></i> -->
              <span class="menu-title">Évaluation et Validation</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <!-- <i class="icon-head menu-icon"></i> -->
              <span class="menu-title">Gestion des Documents </span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item">
            <div class="">
              <a class="nav-link logout-link" href="logout.html">
                <i class="fas fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">Deconnexion</span>
              </a>
            </div>

          </li>
        </ul>

      </nav>
      <!-- partial -->

      <div class="main-panel">
        <div class="content-wrapper">
      <button class="btn btn-warning mb-3" [routerLink]="['/soumettreBesion']">Soumettre une nouvelle Mission</button>

          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-center">Les Missions En cours</h4>

                  <div class="filter-form mb-4">
                    <div class="row">
                      <!-- Filter by Status -->
                      <div class="col-md-4">
                        <label for="statusFilter">Status:</label>
                        <select class="form-control" id="statusFilter" [(ngModel)]="selectedStatus" (ngModelChange)="filterMissions()">
                          <option value="">All</option>
                          <option value="en_cours">En cours</option>
                          <option value="terminee">Terminee</option>

                        </select>
                      </div>

                      <!-- Filter by Date Range -->
                      <div class="col-md-4">
                        <label for="startDateFilter">Start Date:</label>
                        <input type="date" class="form-control" id="startDateFilter" [(ngModel)]="startDate" (ngModelChange)="filterMissions()">
                      </div>
                      <div class="col-md-4">
                        <label for="endDateFilter">End Date:</label>
                        <input type="date" class="form-control" id="endDateFilter" [(ngModel)]="endDate" (ngModelChange)="filterMissions()">
                      </div>
                    </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Titre</th>
                          <!-- <th>Description</th> -->
                          <th>profil</th>
                          <th>Objectif</th>
                          <th>Date de début</th>
                          <th>Date de fin</th>
                          <th>Consultant</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let mission of missions">
                          <td>{{ mission.titre }}</td>
                          <!-- <td>{{ mission.description }}</td> -->
                          <td>{{ mission.type_profil_recherche }}</td>
                          <td>{{ mission.objectifs }}</td>
                          <td>{{ mission.date_debut | date:'shortDate' }}</td>
                          <td>{{ mission.date_fin | date:'shortDate' }}</td>
                          <td>{{ mission.consultant?.user?.name }}</td>
                          <td>
                            <button *ngIf="mission.status === 'en_cours'" class="btn btn-warning btn-sm" (click)="openModal(clientId, mission.id)">Voir détails</button>

                            <button *ngIf="mission.status === 'terminee'" class="btn btn-sm" style="background-color: #085C78;color:aliceblue">Valider la mission</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    </div>
                    <div *ngIf="isModalOpen" class="modal fade show" style="display: block;">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Détails de la mission</h5>
                            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div *ngIf="missionDetails">
                              <p><strong>Titre:</strong> {{ missionDetails.titre }}</p>
                              <p><strong>Description:</strong> {{ missionDetails.description }}</p>
                              <p><strong>Date de début:</strong> {{ missionDetails.date_debut }}</p>
                              <p><strong>Date de fin:</strong> {{ missionDetails.date_fin }}</p>
                              <p><strong>Status:</strong> {{ missionDetails.status }}</p>
                              <!-- Ajoutez d'autres détails ici selon vos besoins -->
                            </div>
                            <div *ngIf="!missionDetails">
                              <p>Chargement des détails...</p>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- mission termine   -->

        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title text-center">Les Missions Terminees</h4>

                  <div class="filter-form mb-4">
                    <div class="row">
                      <!-- Filter by Status -->
                      <div class="col-md-4">
                        <label for="statusFilter">Status:</label>
                        <select class="form-control" id="statusFilter" [(ngModel)]="selectedStatus" (ngModelChange)="filterMissions()">
                          <option value="">All</option>
                          <option value="en_cours">En cours</option>
                          <option value="terminee">Terminee</option>

                        </select>
                      </div>

                      <!-- Filter by Date Range -->
                      <div class="col-md-4">
                        <label for="startDateFilter">Start Date:</label>
                        <input type="date" class="form-control" id="startDateFilter" [(ngModel)]="startDate" (ngModelChange)="filterMissions()">
                      </div>
                      <div class="col-md-4">
                        <label for="endDateFilter">End Date:</label>
                        <input type="date" class="form-control" id="endDateFilter" [(ngModel)]="endDate" (ngModelChange)="filterMissions()">
                      </div>
                    </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Titre</th>
                          <!-- <th>Description</th> -->
                          <th>profil</th>
                          <th>Objectif</th>
                          <th>Date de début</th>
                          <th>Date de fin</th>
                          <th>Consultant</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let mission of termineMissions">
                          <td>{{ mission.titre }}</td>
                          <!-- <td>{{ mission.description }}</td> -->
                          <td>{{ mission.type_profil_recherche }}</td>
                          <td>{{ mission.objectifs }}</td>
                          <td>{{ mission.date_debut | date:'shortDate' }}</td>
                          <td>{{ mission.date_fin | date:'shortDate' }}</td>
                          <td>{{ mission.consultant?.user?.name }}</td>
                          <td>
                            <button *ngIf="mission.status === 'terminee' && !missionValidee"
                                  class="btn btn-sm"
                                  style="background-color: #085C78;color:aliceblue"
                                  (click)="validerMission(mission.id)">
                                    Valider la mission
                            </button>

                            <button *ngIf="missionValidee" class="btn btn-sm" style="background-color: #ffc107;"
                                    (click)="openFeedbackModal(mission.id, consultantId!)">
                                Fournir un feedback
                            </button>

                          </td>
                        </tr>
                      </tbody>
                    </table>

                    </div>
                    <div *ngIf="isModalOpen" class="modal fade show" style="display: block;">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Détails de la mission</h5>
                            <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>

                          </div>
                          <p *ngIf="missionDetails" style="font-size: 18px;background-color: #085C78;color:aliceblue " >
                            <strong>Nombre de jours restants:</strong> {{ getRemainingDays(missionDetails.date_fin) }} jours
                        </p>

                          <div class="modal-body">
                            <div *ngIf="missionDetails">
                              <p style="font-size: 18px;"><strong>Titre:</strong> {{ missionDetails.titre }}</p>
                              <p style="font-size: 18px;"><strong>Description:</strong> {{ missionDetails.description }}</p>
                              <p style="font-size: 18px;"><strong>Date de début:</strong> {{ missionDetails.date_debut }}</p>
                              <p style="font-size: 18px;"><strong>Date de fin:</strong> {{ missionDetails.date_fin }}</p>
                              <p style="font-size: 18px;"><strong>Status:</strong> {{ missionDetails.status }}</p>
                              <p style="font-size: 18px;"><strong>Type de profil recherché:</strong> {{ missionDetails.type_profil_recherche }}</p>
                              <p style="font-size: 18px;"><strong>Compétences requises:</strong> {{ missionDetails.competences_requises }}</p>
                              <p style="font-size: 18px;"><strong>Niveau d'expérience:</strong> {{ missionDetails.niveau_experience }}</p>


                              <p style="font-size: 18px;"><strong>Objectifs:</strong> {{ missionDetails.objectifs }}</p>

                            </div>
                            <div *ngIf="!missionDetails">
                              <p>Chargement des détails...</p>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" style="background-color: #ffc107;">Modifier</button>
                            <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <!-- mission terminer -->

      <!-- Modal de feedback -->

<!-- Modal de feedback -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true" [ngClass]="{'show': isModalOpen}" style="display: block;" *ngIf="isModalOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="feedbackModalLabel">Sondage de Feedback</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submitFeedback(feedbackForm)" #feedbackForm="ngForm">
          <div class="feedback-question">
            <h6>1. Comment évalueriez-vous la mission ? (Note de 1 à 5)</h6>
            <div class="rating">
              <label><input type="radio" name="rating" ngModel value="1" required> 1</label>
              <br>
              <label><input type="radio" name="rating" ngModel value="2" required> 2</label>
              <br>
              <label><input type="radio" name="rating" ngModel value="3" required> 3</label>
              <br>
              <label><input type="radio" name="rating" ngModel value="4" required> 4</label>
              <br>
              <label><input type="radio" name="rating" ngModel value="5" required> 5</label>
              <br>
            </div>
          </div>

          <div class="feedback-question">
            <h6>2. Comment jugez-vous la qualité de la collaboration avec le consultant ?</h6>
            <div>
              <label><input type="radio" name="collaboration" ngModel value="excellent" required> Excellent</label>
              <br>
              <label><input type="radio" name="collaboration" ngModel value="bon" required> Bon</label>
              <br>
              <label><input type="radio" name="collaboration" ngModel value="moyen" required> Moyen</label>
              <br>
              <label><input type="radio" name="collaboration" ngModel value="faible" required> Faible</label>
              <br>
            </div>
          </div>

          <div class="feedback-question">
            <h6>3. Le consultant a-t-il respecté les délais ?</h6>
            <div>
              <label><input type="radio" name="delais" ngModel value="oui" required> Oui</label>
              <br>
              <label><input type="radio" name="delais" ngModel value="non" required> Non</label>
              <br>
            </div>
          </div>

          <div class="feedback-question">
            <h6>4. Commentaires supplémentaires</h6>
            <textarea class="form-control" id="comments" rows="3" ngModel name="comments"></textarea>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn" style="background-color: #085C78;color:aliceblue">Soumettre le feedback</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>









    </div>









</body>

</html>








