<body>

  <!-- Topbar Start -->
  <div class="container-fluid topbar bg-light px-5 d-none d-lg-block">
    <div class="row gx-0 align-items-center">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-flex flex-wrap">
                <a href="#" class="text-muted small me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>12, Rue Fila Fann Hock, BP 6856 Dakar étoile, Sénégal</a>
                <a href="tel:+01234567890" class="text-muted small me-4"><i class="fas fa-phone-alt text-primary me-2"></i>+221 76 529 76 37</a>
                <!-- <a href="mailto:example@gmail.com" class="text-muted small me-0"><i class="fas fa-envelope text-primary me-2"></i>Example@gmail.com</a> -->
            </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <a href="#"><small class="me-3 text-dark"><i class="fa fa-user text-primary me-2"></i>Register</small></a>
                <a href="#" [routerLink]="['/login']"><small class="me-3 text-dark"><i class="fa fa-sign-in-alt text-primary me-2"></i>Login</small></a>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown"><small><i class="fa fa-home text-primary me-2"></i> My Dashboard</small></a>
                    <div class="dropdown-menu rounded">
                        <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2"></i> My Profile</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-comment-alt me-2"></i> Inbox</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-bell me-2"></i> Notifications</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-cog me-2"></i> Account Settings</a>
                        <a href="#" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Topbar End -->
  <div  *ngIf="offre">
    <!-- Navbar & Hero Start -->
    <div class="position-relative p-0" >
      <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary"><img src="assets/img/logo.png" alt="Logo"></h1>
            <!-- <img src="logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="" [routerLink]="['/dashboard']" class="nav-item nav-link active">ACCUEIL</a>
                <a href="about.html" class="nav-item nav-link">OFFRES</a>
                <a href="service.html" class="nav-item nav-link">ENTREPRISES</a>
                <a href="blog.html" class="nav-item nav-link">SERVICES</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link" data-bs-toggle="dropdown">
                        <span class="dropdown-toggle">SERVICES</span>
                    </a>
                    <div class="dropdown-menu m-0">
                        <a href="feature.html" class="dropdown-item">Recrutement IT</a>
                        <a href="team.html" class="dropdown-item">Missions de consulting</a>
                        <a href="testimonial.html" class="dropdown-item">Développement de projets IT sur mesure</a>
                        <a href="offer.html" class="dropdown-item"> Recherche et Développement</a>
                        <a href="FAQ.html" class="dropdown-item"> Formation et Renforcement des Compétences</a>
                        <a href="404.html" class="dropdown-item">Gestion de la Pénurie de Talents</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact Us</a>
            </div>
            <a href="#" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0">Get Started</a>
        </div>
    </nav>

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
          <div class="container text-center py-5" style="max-width: 900px;">
              <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">{{ offre.titre  }}</h4>
              <a href="#" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0" [routerLink]="['/postuler', offre.id]">Postuler</a>


          </div>
      </div>

        <!-- Header End -->
    </div>
    <!-- Navbar & Hero End -->

    <div class="container-fluid about py-5"style="color:#000 ;">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-xl-7 wow fadeInLeft" data-wow-delay="0.2s">
                  <div *ngIf="offre">
                    <h1 class="text-center">Vos mission</h1>
                    <p>{{ offre.description }}</p>
                    <h1 class="text-center">Votre profil</h1>
                    <p> {{ offre.competences}}</p>
                    <p><strong>Lieu:</strong> {{ offre.lieu }}</p>
                    <p><strong>Expérience:</strong> {{ offre.experience }} ans</p>
                    <p><strong>Type de contrat:</strong> {{ offre.type_contrat }}</p>

                  </div>

                  <div *ngIf="!offre">
                    <p>Chargement des détails de l'offre...</p>
                  </div>

                </div>

            </div>
            <a href="#" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0" [routerLink]="['/postuler']">Postuler</a>

        </div>
    </div>

  </div>








</body>








