<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GTPRecrutement</title>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img src="assets/img/logo.png" alt="logo" width="500" height="500"/>
      </a>

        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/img/logo.png" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Rechercher" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">
                  <i class="icon-head"></i> Profile
              </a>
              <a class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
              <!-- Bouton de déconnexion -->
            <div class="logout-section">
              <a class="nav-link logout-link" href="logout.html">
                <i class="fas fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">logout</span>
              </a>
            </div>
            </div>
          </li>

        </ul>

      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="assets/img/face1.jpg">
          </div>
          <div class="user-name">
              Moussa Diouf
          </div>
          <div class="user-designation">
              Developer
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html" [routerLink]="['/client']">
              <!-- <i class="icon-box menu-icon"></i> -->
              <span class="menu-title">Acceuil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" [routerLink]="['/ConsulteMission']" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <!-- <i class="icon-disc menu-icon"></i> -->
              <span class="menu-title">Consulter les Missions</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/consultant']"> -->
              <!-- <i class="icon-file menu-icon"></i> -->
              <!-- <span class="menu-title">Suivi des Missions </span>
            </a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
              <!-- <i class="icon-command menu-icon"></i> -->
              <span class="menu-title">Suivi des Missions </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/feather-icons.html">
              <!-- <i class="icon-help menu-icon"></i> -->
              <span class="menu-title">Évaluation et Validation :</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <!-- <i class="icon-head menu-icon"></i> -->
              <span class="menu-title">Gestion des Documents </span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Login 2 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> Register 2 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="docs/documentation.html">
              <!-- <i class="icon-book menu-icon"></i> -->
              <span class="menu-title">Documentation</span>
            </a>
          </li>
          <li class="nav-item">
            <div class="logout">
              <a class="nav-link logout-link" href="">
                <i class="fas fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">Deconnexion</span>
    
              </a>
            </div>
          </li>
        </ul>

      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-center" style="color: #085C78 ;">Soumettre un besions pour une missions</h4>

                    <form (ngSubmit)="onSubmit()" [formGroup]="missionForm" class="forms-sample">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="titre" class="form-label">Title</label>
                          <input type="text" id="titre" class="form-control" formControlName="titre" placeholder="Mission Title">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" class="form-control" formControlName="description" placeholder="Mission Description"></textarea>
                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="date_debut" class="form-label">Start Date</label>
                          <input type="date" id="date_debut" class="form-control" formControlName="date_debut">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="date_fin" class="form-label">End Date</label>
                          <input type="date" id="date_fin" class="form-control" formControlName="date_fin">
                        </div>
                      </div>

                      <div class="form-group">
                        <button type="submit" class="btn mr-2" style="background-color: #ffc107; color: aliceblue">Soumettre</button>
                        <!-- <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button> -->
                      </div>
                    </form>





                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>




    </div>

  </div>




</body>

</html>








