<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GTPRecrutement</title>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img src="assets/img/logo.png" alt="logo" width="500" height="500"/>
      </a>

        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/img/logo.png" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Rechercher" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">
                  <i class="icon-head"></i> Profile
              </a>
              <a class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
              <!-- Bouton de déconnexion -->
            <div class="logout-section">
              <a class="nav-link logout-link" href="logout.html">
                <i class="fas fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">logout</span>
              </a>
            </div>
            </div>
          </li>

        </ul>

      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img src="assets/img/face1.jpg">
          </div>
          <div class="user-name">
              Moussa Diouf
          </div>
          <div class="user-designation">
              Developer
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html" [routerLink]="['/client']">
              <!-- <i class="icon-box menu-icon"></i> -->
              <span class="menu-title">Acceuil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" [routerLink]="['/ConsulteMission']" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <!-- <i class="icon-disc menu-icon"></i> -->
              <span class="menu-title">Consulter les Missions</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/consultant']">
              <!-- <i class="icon-file menu-icon"></i> -->
              <span class="menu-title">Suivi des Missions </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/icons/feather-icons.html">
              <!-- <i class="icon-help menu-icon"></i> -->
              <span class="menu-title">Évaluation et Validation</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <!-- <i class="icon-head menu-icon"></i> -->
              <span class="menu-title">Gestion des Documents </span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item">
            <div class="">
              <a class="nav-link logout-link" href="logout.html">
                <i class="fas fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">Deconnexion</span>
              </a>
            </div>

          </li>
        </ul>

      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-center" style="color: #085C78 ;">Soumettre une mission</h4>

                    <form [formGroup]="missionForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                        <!-- Title Field -->
                        <div class="form-group col-md-6">
                          <label for="titre">Titre</label>
                          <input type="text" formControlName="titre" class="form-control input-border" [ngClass]="{'is-invalid': submitted && f['titre'].errors}" />
                          <div *ngIf="submitted && f['titre'].errors" class="invalid-feedback">
                            <div *ngIf="f['titre'].errors?.['required']">Le titre est requis.</div>
                          </div>
                        </div>

                        <!-- Description Field -->
                        <div class="form-group col-md-6">
                          <label for="description">Description</label>
                          <textarea formControlName="description" class="form-control input-border" [ngClass]="{'is-invalid': submitted && f['description'].errors}"></textarea>
                          <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                            <div *ngIf="f['description'].errors?.['required']">La description est requise.</div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <!-- Start Date Field -->
                        <div class="form-group col-md-6">
                          <label for="date_debut">Date de début</label>
                          <input type="date" formControlName="date_debut" class="form-control input-border" [ngClass]="{'is-invalid': submitted && f['date_debut'].errors}" />
                          <div *ngIf="submitted && f['date_debut'].errors" class="invalid-feedback">
                            <div *ngIf="f['date_debut'].errors?.['required']">La date de début est requise.</div>
                          </div>
                        </div>

                        <!-- End Date Field -->
                        <div class="form-group col-md-6">
                          <label for="date_fin">Date de fin</label>
                          <input type="date" formControlName="date_fin" class="form-control input-border" />
                        </div>
                      </div>

                      <div class="row">
                        <!-- Profile Type Field -->
                        <div class="form-group col-md-6">
                          <label for="type_profil_recherche">Type de profil recherché</label>
                          <input type="text" formControlName="type_profil_recherche" class="form-control input-border" [ngClass]="{'is-invalid': submitted && f['type_profil_recherche'].errors}" />
                          <div *ngIf="submitted && f['type_profil_recherche'].errors" class="invalid-feedback">
                            <div *ngIf="f['type_profil_recherche'].errors?.['required']">Le type de profil est requis.</div>
                          </div>
                        </div>

                        <!-- Required Skills Field -->
                        <div class="form-group col-md-6">
                          <label for="competences_requises">Compétences requises</label>
                          <input type="text" formControlName="competences_requises" class="form-control input-border" [ngClass]="{'is-invalid': submitted && f['competences_requises'].errors}" />
                          <div *ngIf="submitted && f['competences_requises'].errors" class="invalid-feedback">
                            <div *ngIf="f['competences_requises'].errors?.['required']">Les compétences requises sont obligatoires.</div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <!-- Experience Level Field -->
                        <div class="form-group col-md-6">
                          <label for="niveau_experience">Niveau d'expérience</label>
                          <input type="text" formControlName="niveau_experience" class="form-control input-border" [ngClass]="{'is-invalid': submitted && f['niveau_experience'].errors}" />
                          <div *ngIf="submitted && f['niveau_experience'].errors" class="invalid-feedback">
                            <div *ngIf="f['niveau_experience'].errors?.['required']">Le niveau d'expérience est requis.</div>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="objectifs">Objectifs</label>
                          <textarea formControlName="objectifs" class="form-control input-border" [ngClass]="{'is-invalid': submitted && f['objectifs'].errors}"></textarea>
                          <div *ngIf="submitted && f['objectifs'].errors" class="invalid-feedback">
                            <div *ngIf="f['objectifs'].errors?.['required']">Les objectifs sont requis.</div>
                          </div>
                        </div>

                        <!-- Duration Field -->
                        <div class="form-group col-md-6">
                          <!-- <label for="duree">Durée (en mois)</label> -->
                          <input type="hidden" formControlName="duree" class="form-control input-border" [ngClass]="{'is-invalid': submitted && f['duree']?.errors}" />


                        </div>

                        <!-- Objectives Field -->

                      </div>

                      <!-- Submit Button -->
                      <button type="submit" class="btn" style="background-color: #ffc107; color: aliceblue;">Soumettre</button>
                    </form>




                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>




    </div>

  </div>




</body>

</html>








