<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>GTPRecrutement</title>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img [src]="namelogo" alt="logo" width="500" height="500"/>
      </a>

        <a class="navbar-brand brand-logo-mini" href="index.html"><img [src]="namelogo" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Rechercer.." aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">
                  <i class="icon-head"></i> Profile
              </a>
              <a class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>

        </ul>

      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img [src]="face1">
          </div>
          <div class="user-name">
              Amadou Fall
          </div>
          <div class="user-designation">
              Developer
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html" [routerLink]="['/statistique']">
              <!-- <i class="icon-box menu-icon"></i> -->
              <span class="menu-title">Acceuil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" [routerLink]="['/manager']" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <!-- <i class="icon-disc menu-icon"></i> -->
              <span class="menu-title">Liste des Candidats</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/consultant']">
              <!-- <i class="icon-file menu-icon"></i> -->
              <span class="menu-title">Liste des Consultants</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
              <!-- <i class="icon-command menu-icon"></i> -->
              <span class="menu-title">Suivi des Missions </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/feather-icons.html">
              <!-- <i class="icon-help menu-icon"></i> -->
              <span class="menu-title">Gestion des Contrats</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="docs/documentation.html">
              <!-- <i class="icon-book menu-icon"></i> -->
              <span class="menu-title">Documentation</span>
            </a>
          </li>
          <li class="nav-item">
            <div class="">
              <a class="nav-link logout-link" href="logout.html">
                <i class="fas fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">Deconnexion</span>
              </a>
            </div>

          </li>
        </ul>
        <!-- Bouton de déconnexion -->

      </nav>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title fw-bold text-center mb-5" style="color: #085C78;">LISTES DES CONSULTANTS</h4>
                  <div class="mb-4">
                    <div class="row">
                      <!-- Competence Filter -->
                      <div class="col-md-3 mb-3">
                        <label for="competences" class="form-label">Compétence</label>
                        <input id="competences" type="text" class="form-control" [(ngModel)]="filters.competences" (ngModelChange)="onFilterChange()"placeholder="Filtrer par compétence">
                      </div>

                      <!-- Experience Filter -->
                      <div class="col-md-3 mb-3">
                        <label for="experienceFilter" class="form-label">Niveau d'expérience</label>
                        <input id="experienceFilter" type="text" class="form-control" [(ngModel)]="filters.experiences" (ngModelChange)="onFilterChange()" placeholder="Filtrer par expérience (années)">
                      </div>

                      <!-- Disponibilité Filter -->
                      <div class="col-md-3 mb-3">
                        <label for="disponibilite" class="form-label">Disponibilité</label>
                        <input id="disponibilite" type="date" class="form-control" [(ngModel)]="filters.date_disponibilite" (ngModelChange)="onFilterChange()" placeholder="Filtrer par disponibilité">
                      </div>

                      <!-- Bouton Filtrer -->
                      <div class="col-md-3 mb-3 align-self-end">
                        <button class="btn" style="background-color: #085C78;color:aliceblue" (click)="getFilteredConsultant()">Filtrer</button>
                      </div>
                    </div>

                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Disponibilité</th>
                          <th>Compétences</th>
                          <th>Niveau Expériences</th>
                          <th>CV</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let consultant of tabConsultant">
                          <td>{{ consultant.id }}</td>
                          <td>{{ consultant.user.name }}</td>
                          <td>{{ consultant.user.email }}</td>
                          <td>{{ consultant.date_disponibilite | date }}</td>
                          <td>{{ consultant.competences }}</td>
                          <td>{{ consultant.experiences }}</td>
                          <td>
                            <a [href]="consultant.cv" target="_blank">Voir CV</a>
                          </td>
                          <td>
                            <button class="btn btn-sm" style="background-color: #085C78; color: aliceblue" (click)="openModal(consultant.id!)">
                              Attribuer à une mission
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Mission Modal -->
                  <!-- Modale personnalisée -->
                  <!-- Modal pour l'attribution de mission -->
                  <div class="modal" [ngClass]="{'show': isModalOpen}" tabindex="-1" role="dialog" [style.display]="isModalOpen ? 'block' : 'none'">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Attribuer une mission au Consultant ID: {{ selectedConsultantId }}</h5>
                          <button type="button" style="background-color: #ffc107;" class="close" (click)="closeModal()">&times;</button>
                        </div>
                        <div class="modal-body">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Sélection</th>
                                <th>Titre de la Mission</th>
                                <th>Description</th>
                                <!-- <th>Date de début</th>
                                <th>Date de fin</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let mission of missionList">
                                <td>
                                  <input type="radio" name="mission" [value]="mission.id" [(ngModel)]="selectedMission">
                                </td>
                                <td>{{ mission.titre }}</td>
                                <td>{{ mission.description }}</td>
                                <!-- <td>{{ mission.date_debut | date }}</td>
                                <td>{{ mission.date_fin | date }}</td> -->
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
                          <button type="button" class="btn btn-primary" >Attribuer</button>
                        </div>
                      </div>
                    </div>
                  </div>





                </div>
              </div>


            </div>

          </div>
        </div>
      </div>




    </div>

  </div>




</body>

</html>







