<!-- <app-navbar></app-navbar>
<div class="container-fluid page-body-wrapper">
  <app-sidebar></app-sidebar> -->
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">
          <img [src]="namelogo" alt="logo" width="500" height="500"/>
      </a>

        <a class="navbar-brand brand-logo-mini" href="index.html"><img [src]="namelogo" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Rechercher.." aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item">
                  <i class="icon-head"></i> Profile
              </a>
              <a class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>

        </ul>

      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img [src]="face1">
          </div>
          <div class="user-name">
              Amadou Fall
          </div>
          <div class="user-designation">
              Developer
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html" [routerLink]="['/statistique']">
              <!-- <i class="icon-box menu-icon"></i> -->
              <span class="menu-title">Acceuil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" [routerLink]="['/manager']" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <!-- <i class="icon-disc menu-icon"></i> -->
              <span class="menu-title">Liste des Candidats</span>
              <!-- <i class="menu-arrow"></i> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/consultant']">
              <!-- <i class="icon-file menu-icon"></i> -->
              <span class="menu-title">Liste des Consultants</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/mission']">
              <!-- <i class="icon-command menu-icon"></i> -->
              <span class="menu-title">Suivi des Missions </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/feather-icons.html">
              <!-- <i class="icon-help menu-icon"></i> -->
              <span class="menu-title">Gestion des Contrats</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="docs/documentation.html">
              <!-- <i class="icon-book menu-icon"></i> -->
              <span class="menu-title">Documentation</span>
            </a>
          </li>
          <li class="nav-item">
            <div class="">
              <a class="nav-link logout-link" href="logout.html">
                <i class="fas fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">Deconnexion</span>
              </a>
            </div>

          </li>
        </ul>
        <!-- Bouton de déconnexion -->

      </nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">Liste des Candidats</h4>
              <!-- <h4 class="card-title text-center">Liste des Consultants</h4> -->

              <div class="filter-section mb-4">
                <form (ngSubmit)="onFilter()">
                  <div class="row">
                    <div class="col-md-3">
                      <input id="competencesFilter" type="text" class="form-control" [(ngModel)]="filters.competences" name="competences" placeholder="Filtrer par compétences">
                    </div>
                    <div class="col-md-3">
                      <input id="experienceFilter" type="text" class="form-control" [(ngModel)]="filters.experience" name="experience" placeholder="Filtrer par expérience (années)">
                    </div>
                    <div class="col-md-3">
                      <button type="submit" class="btn" style="background-color:#085C78; color:aliceblue">Filtrer</button>
                    </div>
                  </div>
                </form>
              </div>

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nom</th>
                      <th>Prénom</th>
                      <th>Email</th>
                      <th>Compétences</th>
                      <th>Expérience (années)</th>
                      <th>CV</th>
                      <!-- <th>Lettre de Motivation</th> -->
                      <!-- <th>Status</th> -->
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let candidat of tabCandidat">
                      <td>{{ candidat.id }}</td>
                      <td>{{ candidat.nom }}</td>
                      <td>{{ candidat.prenom }}</td>
                      <td>{{ candidat.email }}</td>
                      <td>
                        <div class="single-line">{{ candidat.competences }}</div>
                      </td>
                      <td>{{ candidat.experience }}</td>
                      <td>
                        <a [href]="candidat.cv" target="_blank" class="nav-link">Voir CV</a>
                      </td>
                      <!-- <td>
                        <a [href]="candidat.lm" target="_blank" class="nav-link">Voir Lettre</a>
                      </td> -->
                      <!-- <td>{{ candidat.status }}</td> -->
                      <td>
                        <button *ngIf="candidat.status !== 'Accepté' && candidat.status !== 'Refusé'"
                                class="btn btn-sm"
                                style="background-color: #085C78; color:aliceblue"
                                (click)="accepterCandidat(candidat)">
                          Accepter
                        </button>
                        <button *ngIf="candidat.status !== 'Accepté' && candidat.status !== 'Refusé'"
                                class="btn btn-sm"
                                style="background-color: #ffc107; color:aliceblue"
                                (click)="refuserCandidat(candidat)">
                          Refuser
                        </button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
